<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>用户注册</title>
  <link href="/user/css/updateUser.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <h2>注册用户</h2>
  <form id="registerUser" method="post" th:action="@{/registerUser}">
    <div class="form-group"><label for="username">用户名：</label>
      <input id="username" name="username" required type="text">
    </div>

    <div class="form-group"><label for="password">密码：</label>
      <input id="password" name="password" required type="password">
    </div>

    <div class="form-group"><label for="email">邮箱：</label>
      <input id="email" name="email" required type="email">
    </div>

    <button type="submit">注册</button>
    <a th:href="@{/}"><h3 align="center">返回首页</h3></a>
  </form>
</div>
</body>

</html>