<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>修改用户信息</title>
    <link href="/user/css/updateUser.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <h2>修改用户名</h2>
    <form action="/updateUser" method="post" th:action="@{/updateUser}">
        <h3 align="center">当前用户名：<span sec:authentication="name" style="color: #007bff"></span></h3>
        <div class="form-group">
            新用户名: <input name="username" type="text" required/><br/>
        </div>
        <button type="submit">修改</button>
        <a th:href="@{/}"><h3 align="center">返回首页</h3></a>
    </form>
</div>

</body>

</html>